
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="container-articles">
        <div class="articles-main">
            <app-big-card 
                id=""
                imgCover=""
                cardTitle=""
                cardDesc=" "           
             ></app-big-card>
        </div>
        <div class="articles-others">
            <app-small-card
                id="1"
                imgCover=""
                cardTitle=""
            ></app-small-card>
            <app-small-card id="2" cardTitle="TESTE 1"></app-small-card>
            <app-small-card id="3" cardTitle="TESTE 2"></app-small-card>
        </div>
    </div>
</div>